<div class="contenedor-tabla">
  <!-- Botón para agregar nuevo alumno -->
  <button (click)="agregarGrado()" class="btn-agregar">Agregar</button>

  <table class="tabla-alumnos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>ProfesorId</th>
      <th>Profesor</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of grados">
      <td>{{ item.id }}</td>
      <td>{{ item.nombre }}</td>
      <td>{{ item.profesorId }}</td>
      <td>{{ item.profesorNombre }}</td>
      <td>
        <!-- Botones de editar y eliminar -->
        <button class="btn-editar" (click)="editarGrado(item)">Editar</button>
        <button class="btn-eliminar" (click)="eliminarGrado(item.id)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
