<div class="contenedor-tabla">
  <!-- Botón para agregar nuevo alumno -->
  <button (click)="agregarAlumno()" class="btn-agregar">Agregar</button>

  <table class="tabla-alumnos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Género</th>
      <th>Fecha de Nacimiento</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let alumno of alumnos">
      <td>{{ alumno.id }}</td>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.apellidos }}</td>
      <td>{{ alumno.genero }}</td>
      <td>{{ alumno.fechaNacimiento | date:'dd/MM/yyyy' }}</td>
      <td>
        <!-- Botones de editar y eliminar -->
        <button class="btn-editar" (click)="editarAlumno(alumno)">Editar</button>
        <button class="btn-eliminar" (click)="eliminarAlumno(alumno.id)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
